* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding: 50px 1542px 1029px 50px;
  align-items: center;
}
